@use "./responsive" as *;

.layout{
    height: 100vh;
    max-width: 1366px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

    @include lg{
        background-color: blue;
        max-width: 1260px;
    }

    @include md{
        background-color: greenyellow;
        max-width: 768px;
    }

    @include sm{
        background-color: red;
        max-width: 640px;
    }
}